* {
    box-sizing: border-box;
}
body {
    font-family: 'Ubuntu', sans-serif;
}

#head {
    text-align: center;
}
p{
    float: left;
    clear:both;
}

.box-1
{
    border:2px solid black;
    height: 200px;
    padding-left:10px;
    background-color: rgb(206, 197, 197);
    overflow:hidden;
    margin: 10px;
}

.box-2
{
    border:2px solid black;
    height: 200px;
    padding-left:10px;
    background-color: rgb(206, 197, 197);
    overflow:hidden;
    margin: 10px;
}

.box-3
{
    border:2px solid black;
    height: 200px;
    padding-left:10px;
    background-color: rgb(206, 197, 197);
    overflow:hidden;
    margin: 10px;
}
.innerbox{
    border: 1px solid black;
    font-size: large;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    /* text-align: center; */
    float: right;
    /* width: 150px; */
    margin: -1px; 
}
#chicken {
    background-color: rgb(224, 167, 177);
    font-weight: bold;
}

#beef {
    background-color: rgb(219, 91, 91);
    color: white;
    font-weight: bold;
}

#sushi {
    background-color: rgb(247, 247, 129);
    font-weight: bold;
}
/****Desktop View****/
@media only screen and (min-width: 992px){
    .box-1{
        height: 200px;
        width:31%;
        float:left;
    }
    .box-2{
        height: 200px;
        width:31%;
        float:left;
    }
    .box-3{
        height: 200px;
        width:31%;
        float:left;
        }
    }

/****TABLET VIEW****/
@media (min-width: 768px) and (max-width:991px){
    .box-1{
        width:36%;
        float:left;
        margin-right:10%;
    }
    .box-2{
        width:36%;
        float:left;
        margin-left:10%;
    }
    .box-3{
        width:92%;
        clear:left;
        }
    }

